.image-text__warning {
    margin-left: -17%;
    margin-top: 12px;
}

.image-text__warning p {
    font-size: 12px;
}

.image-icon__warning {
    cursor: pointer;
    font-size: 16px;
}
.image-text__warning-title {
    // margin-left: 70px;
}