<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <!-- <div class="{{hide ? 'app-logo-none' : ''}} app-header__logo" (click)="goToHomePage()">
            <div class="{{hide ? 'hidden-logo' : ''}} logo-src">
                <img src="assets/images/logo.svg">
            </div>
            <div class="header__pane ml-auto">
                <div>
                    <button (click)="close()" type="button"
                            class="hamburger close-sidebar-btn hamburger--elastic nav-menu nav-toggler open-close waves-light"
                            data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>
                </div>
            </div>
        </div> -->
        <!-- /Logo -->
        <!-- <div class="{{hide ? 'un-hidden-user' : 'hidden-user'}} nav navbar-top-links navbar-right pull-right">
            <vt-dropdown-user></vt-dropdown-user>
            <vt-language-selector></vt-language-selector>
        </div> -->
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </div>
</nav>
<!-- End Top Navigation -->
