.btn-green{
  margin-left: 10px;
}
.bi-plus-circle{
  background-color: greenyellow;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}
.btn-banner_add{
  background-color: #02A7f0;
}

.btn-banner_remove {
  background-color: #d9001b;
}

.bi-x-circle{
  background-color: red;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}

.banner-search-left__add{
  margin-left: 40px;
}