.btn-green{
  margin-left: 10px;
}
.bi-plus-circle{
  background-color: greenyellow;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}
.btn-banner_add{
  background-color: #02A7f0;
}

.btn-banner_remove {
  background-color: #d9001b;
}

.bi-x-circle{
  background-color: red;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
}

.banner-search-left__add{
  margin-left: 40px;
}

.btn-detail{
  background-color: #02A7f0;
  color: white
}

.btn-disabled{
  background-color: #949494;
  color: white
}

.text-image{
  margin-left: 20px;
  margin-right: 40px;
}

.text-date-left{
  margin-left: 40px !important;

}

.modal-btn__update{
  background-color: #02A7f0;
  color: white
}

.modal-btn__delete{
  color: white;
  background-color: #d9001b
}