.banner-search-title {
    font-weight: bold;
    font-size: 18px;
}
.banner-search-left__title {
    width: 40%;
}

.btn-remove-search {
    background-color: #169bd5;
}

.btn-submit-search {
    background-color: #0000ff;
    margin-left: 40px;
}
.btn-remove{
    margin-left: 10px;
    background-color: #D9001B;
}