<div id="asset-add-new">
  <div class="modal-header">
      <div class="col-lg-8 col-md-8 col-sm-8 modal-title">
          <h4 class="text-right" style="margin-right: 10%;">Chi tiết loại tài sản</h4>
      </div>
  </div>

  <div class="modal-body">
      <div class="col-md-6 offset-md-3 mt-5">
          <form>
              <div class="form-group d-flex">
                  <label class="w-25" for="assetInputName">Tên tài sản<small
                          class="pl-2 text-danger">(*)</small></label>
                  <span>{{assetNameValue}}</span>
              </div>
              <div class="form-group d-flex">
                  <label class="w-25" for="exampleInputName">Icon tài sản <small
                          class="ml-1 text-danger">(*)</small></label>
                          
                  <div>
                    <img class="assetIconValue" style="width: 50%; height: 50%; margin-left: 10%; margin-bottom: -40px;" [src]="assetIconValue">
                  </div>
              </div>
              <div class="form-group d-flex">
                  <label class="w-25" for="color" required="required">Màu hiển thị</label>
                  <input type="color" name="color" class="form-control text-input assetIconValue" style="cursor: pointer" [value]="assetIconValue"
                      aria-describedby="color">
              </div>
              <div class="form-group d-flex">
                  <label class="w-25" for="exampleFormControlSelect1">Trạng thái</label>
                  <span>{{assetStatusValue ?"Hoạt động":"Không hoạt động"}}</span>
              </div>
          </form>
      </div>
  </div>

  <div class="modal-footer">
      <div class="line0 text-center modal-btn">
          <button type="button" class="btn-outline-green btn btn-secondary modal-btn__cancel"
              data-dismiss="modal">Đóng</button>
          <button type="button" class="btn-green btn"
          [routerLink]="['/asset/add-vtp', assetId]">Cập nhật</button>
      </div>
  </div>

</div>